flows.json
[
    {
        "id": "9655a5fe22a078d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0fa7d717b06a2b81",
        "type": "group",
        "z": "9655a5fe22a078d7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5f0b4b308a24783d",
            "3baf073cfe918bd2",
            "3f2cb3e24ce93fc3",
            "4da0a60a1cb806aa",
            "42da4f14128e6490",
            "92c64a64f3ae9a55",
            "e2b56f87895b9bb2",
            "3a60897ec71f5717"
        ],
        "x": 834,
        "y": 439,
        "w": 412,
        "h": 202
    },
    {
        "id": "680b91c23eabc493",
        "type": "group",
        "z": "9655a5fe22a078d7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "88e5a85048e2e0a4",
            "15a7accd8f340810",
            "35a982ea7b9184c4",
            "61eed7ad297c6949",
            "c26ba5169737fd5d",
            "418654414f8c4f30",
            "e5032a31386090fe",
            "c680f103f088cbbd"
        ],
        "x": 834,
        "y": 639,
        "w": 412,
        "h": 222
    },
    {
        "id": "d21efa0ea7e3d89f",
        "type": "group",
        "z": "9655a5fe22a078d7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ad4cd8e32fe9fbd5",
            "04d68bf8626a127d",
            "95a20e9730e6bbaf",
            "d531ce13853d419b"
        ],
        "x": 314,
        "y": 439,
        "w": 492,
        "h": 202
    },
    {
        "id": "2a622428765310fd",
        "type": "group",
        "z": "9655a5fe22a078d7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1c86761941c1f6d2",
            "22b64d229499b365"
        ],
        "x": 274,
        "y": 59,
        "w": 492,
        "h": 82
    },
    {
        "id": "0a15189a18f78de1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f1cd981ed910b10b",
        "type": "ui_tab",
        "name": "Floor 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b0b502bfb1063114",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bfb5c46393214032",
        "type": "ui_group",
        "name": "User Control and Feedback",
        "tab": "f1cd981ed910b10b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0fde7d4b58fb5f8",
        "type": "ui_group",
        "name": "Room 1",
        "tab": "f1cd981ed910b10b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d83287f5d09ce8e",
        "type": "ui_group",
        "name": "Room 2",
        "tab": "f1cd981ed910b10b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "209d5b7c909a70ac",
        "type": "gauth",
        "name": "Unknown"
    },
    {
        "id": "315914c85c6f1614",
        "type": "mqtt in",
        "z": "9655a5fe22a078d7",
        "name": "",
        "topic": "ELEC520/security/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0a15189a18f78de1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "d803536530bad6ee",
                "ad4cd8e32fe9fbd5",
                "caaf1f4b276c2514",
                "1c4acc5069355ff6",
                "22b64d229499b365",
                "d599a59a44e0d462"
            ]
        ]
    },
    {
        "id": "d803536530bad6ee",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad4cd8e32fe9fbd5",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "g": "d21efa0ea7e3d89f",
        "name": "seperateSystemFloorData",
        "func": "// Example topic: ELEC520/security/hw/f/1\nlet topic = String(msg.topic || \"\").trim();\n\n// Match: ELEC520/security/hw/f/{f}\nlet match = topic.match(/^ELEC520\\/security\\/hw\\/f\\/(\\d+)$/);\n\nif (!match) {\n    // node.warn(\"Unexpected topic: \" + topic);\n    return null;\n}\n\nlet floorId = parseInt(match[1], 10);\n\n// Validate range\nif (floorId < 1 || floorId > 8) {\n    node.warn(\"Invalid floor id: \" + floorId);\n    return null;\n}\n\n// 9 outputs = 8 floors + 1 debug\nlet outputs = new Array(9).fill(null);\n\n// Message routed to correct floor\noutputs[floorId - 1] = {\n    payload: msg.payload,\n    topic: topic,\n    floor: floorId\n};\n\n// Send debug info to output 9\noutputs[8] = {\n    payload: {\n        floor: floorId,\n        topic: topic,\n        value: msg.payload\n    }\n};\n\n// node.warn(`Routing floor ${floorId} to output ${floorId}`);\nreturn outputs;\n",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "95a20e9730e6bbaf"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [
                "04d68bf8626a127d"
            ]
        ]
    },
    {
        "id": "04d68bf8626a127d",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "g": "d21efa0ea7e3d89f",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "95a20e9730e6bbaf",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "g": "d21efa0ea7e3d89f",
        "name": "parseFloorData",
        "func": "// Example payload:\n// cs:0;r/1/cs:0;r/1/u/1:120;r/1/h/1:1;r/1/h/2:0;r/2/cs:1;r/2/u/1:98;r/2/h/1:0;r/2/h/2:1\n\nlet payload = msg.payload;\nlet parts = payload.split(\";\");\n\nlet floorConnected = null;\nlet rooms = {};  // temporary store\n\nfor (let part of parts) {\n    if (!part) continue;\n\n    let [key, value] = part.split(\":\");\n    value = parseInt(value);\n\n    // Floor-level connection status\n    if (key === \"cs\") {\n        floorConnected = value;\n        continue;\n    }\n\n    // Room-based info\n    let match = key.match(/^r\\/(\\d+)\\/(.*)$/);\n    if (!match) continue;\n\n    let roomId = parseInt(match[1]);\n    let rest = match[2];\n\n    // Make sure room object exists\n    if (!rooms[roomId]) {\n        rooms[roomId] = {\n            floorConnected: floorConnected,\n            roomId: roomId,\n            roomConnected: null,\n            hall: [],\n            ultra: []\n        };\n    }\n\n    if (rest === \"cs\") {\n        rooms[roomId].roomConnected = value;\n    } else if (rest.startsWith(\"h/\")) {\n        rooms[roomId].hall.push({\n            id: parseInt(rest.split(\"/\")[1]),\n            state: value\n        });\n    } else if (rest.startsWith(\"u/\")) {\n        rooms[roomId].ultra.push({\n            id: parseInt(rest.split(\"/\")[1]),\n            value: value\n        });\n    }\n}\n\n// Create an array of outputs (one per room, max 8)\nlet outputs = new Array(8).fill(null);\n\nfor (let [roomId, data] of Object.entries(rooms)) {\n    let index = data.roomId - 1; // output numbering starts from 0\n    outputs[index] = { payload: data };\n}\n\n\n// node.warn(\"Rooms parsed: \" + JSON.stringify(rooms));\n// node.warn(\"Outputs: \" + JSON.stringify(outputs));\n\nreturn outputs;",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "d531ce13853d419b",
                "5f0b4b308a24783d"
            ],
            [
                "88e5a85048e2e0a4",
                "d531ce13853d419b"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "d531ce13853d419b",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "g": "d21efa0ea7e3d89f",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "5f0b4b308a24783d",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "parseRoom",
        "func": "// Input example (from parseFloor output):\n// msg.payload = { roomId: 1, roomConnected: 1, hall: [...], ultra: [...] }\n\nlet room = msg.payload;\nlet msgs = [];\n\n// Room connection status\nmsgs.push({\n    topic: `room/${room.roomId}/cs`,\n    payload: room.roomConnected\n});\n\n// Hall sensors\nfor (let h of room.hall) {\n    msgs.push({\n        topic: `room/${room.roomId}/hall/${h.id}`,\n        payload: h.state\n    });\n}\n\n// Ultrasonic sensors\nfor (let u of room.ultra) {\n    msgs.push({\n        topic: `room/${room.roomId}/ultra/${u.id}`,\n        payload: u.value\n    });\n}\n\n// Return as separate messages from one output\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 480,
        "wires": [
            [
                "3baf073cfe918bd2"
            ]
        ]
    },
    {
        "id": "3baf073cfe918bd2",
        "type": "switch",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "room/1/cs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/1/hall/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/1/hall/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/1/ultra/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/1/ultra/2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 930,
        "y": 540,
        "wires": [
            [
                "3f2cb3e24ce93fc3",
                "4da0a60a1cb806aa"
            ],
            [
                "3f2cb3e24ce93fc3",
                "42da4f14128e6490"
            ],
            [
                "3f2cb3e24ce93fc3",
                "92c64a64f3ae9a55"
            ],
            [
                "3f2cb3e24ce93fc3",
                "e2b56f87895b9bb2"
            ],
            [
                "3f2cb3e24ce93fc3",
                "3a60897ec71f5717"
            ]
        ]
    },
    {
        "id": "3f2cb3e24ce93fc3",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "88e5a85048e2e0a4",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "parseRoom",
        "func": "// Input example (from parseFloor output):\n// msg.payload = { roomId: 1, roomConnected: 1, hall: [...], ultra: [...] }\n\nlet room = msg.payload;\nlet msgs = [];\n\n// Room connection status\nmsgs.push({\n    topic: `room/${room.roomId}/cs`,\n    payload: room.roomConnected\n});\n\n// Hall sensors\nfor (let h of room.hall) {\n    msgs.push({\n        topic: `room/${room.roomId}/hall/${h.id}`,\n        payload: h.state\n    });\n}\n\n// Ultrasonic sensors\nfor (let u of room.ultra) {\n    msgs.push({\n        topic: `room/${room.roomId}/ultra/${u.id}`,\n        payload: u.value\n    });\n}\n\n// Return as separate messages from one output\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 680,
        "wires": [
            [
                "15a7accd8f340810"
            ]
        ]
    },
    {
        "id": "15a7accd8f340810",
        "type": "switch",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "room/2/cs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/2/hall/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/2/hall/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/2/ultra/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "room/2/ultra/2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 910,
        "y": 740,
        "wires": [
            [
                "35a982ea7b9184c4",
                "61eed7ad297c6949"
            ],
            [
                "35a982ea7b9184c4",
                "c26ba5169737fd5d"
            ],
            [
                "35a982ea7b9184c4",
                "418654414f8c4f30"
            ],
            [
                "35a982ea7b9184c4",
                "e5032a31386090fe"
            ],
            [
                "35a982ea7b9184c4",
                "c680f103f088cbbd"
            ]
        ]
    },
    {
        "id": "35a982ea7b9184c4",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 820,
        "wires": []
    },
    {
        "id": "368407463f6b581a",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 940,
        "wires": []
    },
    {
        "id": "51f4f2920169d76a",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "name": "topicBuilder",
        "func": "msg.topic = \"ELEC520/security/cl/s/st\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 960,
        "wires": [
            [
                "8fac05bb70a75329",
                "368407463f6b581a"
            ]
        ]
    },
    {
        "id": "8fac05bb70a75329",
        "type": "mqtt out",
        "z": "9655a5fe22a078d7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0a15189a18f78de1",
        "x": 830,
        "y": 1040,
        "wires": []
    },
    {
        "id": "caaf1f4b276c2514",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "name": "parseSystemData",
        "func": "// Example topics: ELEC520/security/hw/s/st , ELEC520/security/hw/s/ke\nlet topic = msg.topic;\n\n// Match only hardware system topics ending in /st or /ke\nlet match = topic.match(/ELEC520\\/security\\/hw\\/s\\/(st|ke)$/);\n\n\nif (!match) {\n    // node.warn(\"Unexpected topic: \" + topic);\n    return null;\n}\n\nlet outputs = [null, null];\nlet subTopic = match[1];\n\nif (subTopic === \"st\") {\n    outputs[0] = { payload: msg.payload }; // System state\n} else if (subTopic === \"ke\") {\n    outputs[1] = { payload: msg.payload }; // Keypad\n} else if (subTopic === \"tr\") {\n    outputs[2] = { payload: msg.payload }; // Trigger location\n} else if (subTopic === \"ku\") {\n    outputs[3] = { payload: msg.payload }; // Keypad user ID\n}\n\nreturn outputs;",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "5a71996543a6e4ad",
                "25ef44ec44cd9eb6"
            ],
            [
                "c809f845cd66ab72",
                "25ef44ec44cd9eb6"
            ],
            [
                "e3de2534f61f3ff2"
            ],
            [
                "300d89f07d8be8ed"
            ]
        ]
    },
    {
        "id": "1c4acc5069355ff6",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "name": "parseNetworkData",
        "func": "// Example topics: ELEC520/security/hw/n/st, ELEC520/security/hw/n/mc\nlet topic = msg.topic;\n\n// Match only hardware system topics ending in /st or /mc\nlet match = topic.match(/ELEC520\\/security\\/hw\\/n\\/(st|mc)$/);\n\nif (!match) {\n    // node.warn(\"Unexpected system topic:\n    return null;\n}\n\n\nlet outputs = [null, null];\nlet subTopic = match[1];\n\nif (subTopic === \"st\") {\n    outputs[0] = { payload: msg.payload}; //Network state\n} else if (subTopic === \"mc\") {\n    outputs[1] = { payload: msg.payload}; //Basestation MAC\n}\n\nreturn outputs;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "de4c1cd348899627",
                "5da06e01a4b7393e"
            ],
            [
                "37fc510622c53369",
                "5da06e01a4b7393e"
            ]
        ]
    },
    {
        "id": "5da06e01a4b7393e",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "25ef44ec44cd9eb6",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c86761941c1f6d2",
        "type": "http request",
        "z": "9655a5fe22a078d7",
        "g": "2a622428765310fd",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.sheetbest.com/sheets/8a55b627-6a5f-4478-b10d-7911de8f3482",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "22b64d229499b365",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "g": "2a622428765310fd",
        "name": "loggingMessageFormat",
        "func": "msg.headers = {\"Content-Type\": \"application/json\"};\n\n// create a single-row array for Sheet.best\nmsg.payload = [{\n    timestamp: new Date().toISOString(),\n    topic: msg.topic,\n    payload: (typeof msg.payload === \"object\") ? JSON.stringify(msg.payload) : msg.payload,\n    qos: msg.qos || 0,\n    retain: msg.retain || false\n}];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "1c86761941c1f6d2"
            ]
        ]
    },
    {
        "id": "d599a59a44e0d462",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "name": "displayPassword",
        "func": "// Example topics: ELEC520/security/hw/s/st , ELEC520/security/hw/s/ke\nlet topic = msg.topic;\n\n// Match only hardware system topics ending in /st or /ke\nlet match = topic.match(/ELEC520\\/security\\/cl\\/s\\/(pw)$/);\n\n\nif (!match) {\n    // node.warn(\"Unexpected topic: \" + topic);\n    return null;\n}\n\nlet outputs = [null, null];\nlet subTopic = match[1];\n\nif (subTopic === \"pw\") {\n    outputs[0] = { payload: msg.payload }; // User Password Stored\n}\n\n\nreturn outputs;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "b81c73c95a4d9201"
            ]
        ]
    },
    {
        "id": "db0d7591adfbf76f",
        "type": "ui_button",
        "z": "9655a5fe22a078d7",
        "name": "",
        "group": "bfb5c46393214032",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sys_Disarmed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "DISARMED",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 960,
        "wires": [
            [
                "51f4f2920169d76a"
            ]
        ]
    },
    {
        "id": "67fb1f3b8536f64b",
        "type": "ui_button",
        "z": "9655a5fe22a078d7",
        "name": "",
        "group": "bfb5c46393214032",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sys_Armed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ARMED",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "51f4f2920169d76a"
            ]
        ]
    },
    {
        "id": "49e661caceaaa0d0",
        "type": "ui_button",
        "z": "9655a5fe22a078d7",
        "name": "",
        "group": "bfb5c46393214032",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sys_Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ALARM",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "51f4f2920169d76a"
            ]
        ]
    },
    {
        "id": "12debf6ff911308d",
        "type": "ui_text_input",
        "z": "9655a5fe22a078d7",
        "name": "",
        "label": "User 1 Pass",
        "tooltip": "",
        "group": "bfb5c46393214032",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": "0",
        "topic": "user1",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "e5fe92803d5f3183"
            ]
        ]
    },
    {
        "id": "5a71996543a6e4ad",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FB_State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 140,
        "wires": []
    },
    {
        "id": "c809f845cd66ab72",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FB_Keypad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "de4c1cd348899627",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FB_Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "37fc510622c53369",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FB_MAC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3de2534f61f3ff2",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FB_Trigger_Loc",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 180,
        "wires": []
    },
    {
        "id": "300d89f07d8be8ed",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FB_Keypad_User",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 200,
        "wires": []
    },
    {
        "id": "b81c73c95a4d9201",
        "type": "ui_text",
        "z": "9655a5fe22a078d7",
        "group": "bfb5c46393214032",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CL_PasswordSaved",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "4da0a60a1cb806aa",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "",
        "group": "a0fde7d4b58fb5f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Connection",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "42da4f14128e6490",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "",
        "group": "a0fde7d4b58fb5f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hall 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "92c64a64f3ae9a55",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "",
        "group": "a0fde7d4b58fb5f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hall 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "e2b56f87895b9bb2",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "",
        "group": "a0fde7d4b58fb5f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultra 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "3a60897ec71f5717",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "0fa7d717b06a2b81",
        "name": "",
        "group": "a0fde7d4b58fb5f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultra 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 560,
        "wires": []
    },
    {
        "id": "61eed7ad297c6949",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "",
        "group": "8d83287f5d09ce8e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Connection",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 680,
        "wires": []
    },
    {
        "id": "c26ba5169737fd5d",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "",
        "group": "8d83287f5d09ce8e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hall 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 700,
        "wires": []
    },
    {
        "id": "418654414f8c4f30",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "",
        "group": "8d83287f5d09ce8e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hall 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 720,
        "wires": []
    },
    {
        "id": "e5032a31386090fe",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "",
        "group": "8d83287f5d09ce8e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultra 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "c680f103f088cbbd",
        "type": "ui_gauge",
        "z": "9655a5fe22a078d7",
        "g": "680b91c23eabc493",
        "name": "",
        "group": "8d83287f5d09ce8e",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultra 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "e5fe92803d5f3183",
        "type": "function",
        "z": "9655a5fe22a078d7",
        "name": "appendUser1",
        "func": "const userMap = {\n    user1: \"001\",\n    user2: \"002\",\n    user3: \"003\"\n};\n\nlet topic = msg.topic || \"\";\nlet userCode = userMap[topic];\n\nif (!userCode){\n    node.warn(\"Unknown User Button Pressed: \" + topic);\n    return null;\n}\n\nmsg.payload = userCode + \":\" + msg.payload;\n\nmsg.topic = \"ELEC520/security/cl/s/pw\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "8fac05bb70a75329",
                "9d46f0a8fd773623"
            ]
        ]
    },
    {
        "id": "9d46f0a8fd773623",
        "type": "debug",
        "z": "9655a5fe22a078d7",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1100,
        "wires": []
    },
    {
        "id": "556bdb2e74474cee",
        "type": "ui_text_input",
        "z": "9655a5fe22a078d7",
        "name": "",
        "label": "User 2 Pass",
        "tooltip": "",
        "group": "bfb5c46393214032",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": "0",
        "topic": "user2",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "e5fe92803d5f3183"
            ]
        ]
    },
    {
        "id": "7be5ed49b2cdc72d",
        "type": "ui_text_input",
        "z": "9655a5fe22a078d7",
        "name": "",
        "label": "User 3 Pass",
        "tooltip": "",
        "group": "bfb5c46393214032",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": "0",
        "topic": "user3",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 470,
        "y": 1240,
        "wires": [
            [
                "e5fe92803d5f3183"
            ]
        ]
    },
    {
        "id": "4f824c8c3e94558d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-google-sheets": "1.1.2"
        }
    }
]